*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
/situm-wayfindingsitum-*/
local.gradle
.dangerous-files
/app/src/debug
/app/src/debug/res/values/google_maps_api.xml
/app/src/debug/res/values/situm_credentials.xml
